Assignment 1
Read the given datasets &#39;bank_marketing.csv&#39;
Kindly use this attachment Bank Marketing Data Description
Load the necessary libraries
 load the given dataset and prepare the dataset by following the steps
given below:
• Ensure the datatypes of the columns are appropriate
• Drop the variable “Unnamed: 0”, missing values, duplicated values
• Convert the categorical variables into dummy variables
• Split the data into train (70%), test (30%) and set random state as 0
Build a KNN model using the train dataset (k=7) and. Using the model that
has been built, answer the following question.

What is the value of accuracy of the model on the test dataset?

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

# Load the dataset
data = pd.read_csv("bank_marketing.csv")
print(data)

      Unnamed: 0  age          job  marital  education default  balance  \
0              0   41     services  married    unknown      no       88
1              1   56   technician  married  secondary      no     1938
2              2   30     services   single  secondary      no      245
3              3   34   management   single   tertiary      no     1396
4              4   29   technician   single  secondary      no      -13
...          ...  ...          ...      ...        ...     ...      ...
5576        5576   48       admin.  married  secondary      no     2235
5577        5577   40  blue-collar  married    primary      no     -388
5578        5578   27      student   single  secondary      no       91
5579        5579   46  blue-collar  married  secondary      no     1568
5580        5580   39     services  married  secondary      no        0

     housing loan    contact  day month  duration  campaign  pdays  previous  \
0        yes   no   cellular   11   may       105         1    336         2
1         no  yes   cellular   26   feb       229         1    192         4
2         no  yes   cellular    8   jul       187         2     -1         0
3        yes   no   cellular   17   jul       630         1     -1         0
4        yes   no   cellular   14   may       512         3     -1         0
...      ...  ...        ...  ...   ...       ...       ...    ...       ...
5576     yes  yes    unknown   15   may       755         2     -1         0
5577     yes   no   cellular    4   may       195         3    340         1
5578      no   no  telephone    4   dec       157         6     95        37
5579     yes   no   cellular    2   jun       310         1     55         6
5580     yes   no   cellular    8   may       503         1     -1         0

     poutcome deposit
0     failure      no
1     success     yes
2     unknown      no
3     unknown      no
4     unknown      no
...       ...     ...
5576  unknown      no
5577  failure      no
5578    other      no
5579    other     yes
5580  unknown      no

[5581 rows x 18 columns]

In [3]:
# Drop the "Unnamed: 0" column
data = data.drop(columns=["Unnamed: 0"])

In [5]:
print(data)

      age          job  marital  education default  balance housing loan  \
0      41     services  married    unknown      no       88     yes   no
1      56   technician  married  secondary      no     1938      no  yes
2      30     services   single  secondary      no      245      no  yes
3      34   management   single   tertiary      no     1396     yes   no
4      29   technician   single  secondary      no      -13     yes   no
...   ...          ...      ...        ...     ...      ...     ...  ...
5576   48       admin.  married  secondary      no     2235     yes  yes
5577   40  blue-collar  married    primary      no     -388     yes   no
5578   27      student   single  secondary      no       91      no   no
5579   46  blue-collar  married  secondary      no     1568     yes   no
5580   39     services  married  secondary      no        0     yes   no

        contact  day month  duration  campaign  pdays  previous poutcome  \
0      cellular   11   may       105         1    336         2  failure
1      cellular   26   feb       229         1    192         4  success
2      cellular    8   jul       187         2     -1         0  unknown
3      cellular   17   jul       630         1     -1         0  unknown
4      cellular   14   may       512         3     -1         0  unknown
...         ...  ...   ...       ...       ...    ...       ...      ...
5576    unknown   15   may       755         2     -1         0  unknown
5577   cellular    4   may       195         3    340         1  failure
5578  telephone    4   dec       157         6     95        37    other
5579   cellular    2   jun       310         1     55         6    other
5580   cellular    8   may       503         1     -1         0  unknown

     deposit
0         no
1        yes
2         no
3         no
4         no
...      ...
5576      no
5577      no
5578      no
5579     yes
5580      no

[5581 rows x 17 columns]

In [6]:
# Remove missing values
data = data.dropna()

In [7]:
# Remove duplicated rows
data = data.drop_duplicates()

In [8]:
# Convert categorical variables into dummy variables
categorical_columns = data.select_dtypes(include=['object']).columns
data = pd.get_dummies(data, columns=categorical_columns)

In [11]:
# Split the data into train (70%) and test (30%) with a random state of 0
X = data.drop(columns=["deposit_yes"])
y = data["deposit_yes"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [13]:
# Build a KNN model with k=7
knn_model = KNeighborsClassifier(n_neighbors=7)
knn_model.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [14]:
# Make predictions on the test data
y_pred = knn_model.predict(X_test)

In [15]:
# Calculate the accuracy of the model on the test dataset
accuracy = accuracy_score(y_test, y_pred)

In [16]:
print(f"Accuracy of the KNN model on the test dataset: {accuracy:.2f}")

Accuracy of the KNN model on the test dataset: 0.75